/*!
 Theme Name: Total Child SCSS Starter
 Version: 4.6
 Description: Premium Multi-purpose WordPress Theme
 Author: WPExplorer
 Theme URI: https://themeforest.net/item/total-responsive-multipurpose-wordpress-theme/6339019
 Author URI: https://themeforest.net/user/wpexplorer
 License: Custom license
 License URI: http://themeforest.net/licenses/terms/regular
 Text Domain: total
 Template: base
 Tags: custom-colors, accessibility-ready, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready

 */
/**
 * Set up variables here
 */
/* Font Families */
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway:200,300,400,500,700,800");
/* Row Padding top/bottom only */
/* Screen Sizes */
/* Rows with white separator line */
/**
 * Globals, Typography, Etc.
 */
/* Site Header & Menu */
.header-row {
  top: -170px; }
  .header-row h2 {
    color: #1A6968;
    font-size: calc(35px + (53 - 35) * (100vw - 320px) / (1056 - 320)); }
    @media (min-width: 1056px) {
      .header-row h2 {
        font-size: 53px; } }
  .header-row h5 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 200;
    line-height: 50px;
    color: #1A6968;
    margin: 0; }
  .header-row h3 {
    /* IE 9 */
    /* Safari 3-8 */
    transform: rotate(-5deg);
    color: #701E5D;
    font-size: calc(36px + (46 - 36) * (100vw - 320px) / (1056 - 320));
    margin-bottom: 50px !important;
    margin-top: 5px;
    line-height: 0;
    margin-left: calc(212px + (310 - 212) * (100vw - 320px) / (1056 - 320)); }
    @media (min-width: 1056px) {
      .header-row h3 {
        font-size: 46px;
        margin-left: 310px; } }
  .header-row h4 {
    color: #FFFFFF; }

/* Site Footer */
.footer-row h3 {
  /* IE 9 */
  /* Safari 3-8 */
  transform: rotate(-5deg);
  color: #1A6968;
  margin-top: 50px;
  line-height: 0; }

.footer-row p {
  font-size: 12px;
  color: #FFFFFF; }

.footer-row h5 {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center; }

.footer-row .wpb_wrapper {
  padding-left: 20px !important; }

.footer-row .wpb_wrapper a {
  color: #ffffff; }

/* Home Page Styling */
.home-row {
  /***** Two Column Padding, Line Height and Font size calc *****/ }
  .home-row h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #1A6968;
    margin: 0;
    line-height: 44px; }
  .home-row h3 {
    font-size: 100px;
    color: #701E5D;
    line-height: 150px; }
  .home-row .quote-text {
    padding-left: calc(24px + (100 - 24) * (100vw - 320px) / (1056 - 320));
    padding-right: calc(24px + (100 - 24) * (100vw - 320px) / (1056 - 320)); }
    .home-row .quote-text h4 {
      font-size: calc(30px + (50 - 30) * (100vw - 320px) / (1056 - 320));
      line-height: calc(40px + (60 - 40) * (100vw - 320px) / (1056 - 320));
      color: #FFFFFF; }
      @media (min-width: 1056px) {
        .home-row .quote-text h4 {
          font-size: 50px;
          line-height: 60px; } }
    .home-row .quote-text p {
      color: #ffffff;
      padding-bottom: calc(50px + (0 - 50) * (100vw - 320px) / (1056 - 320)); }

/* Our Team Style */
.ourteam-row h2 {
  font-size: 30px;
  color: #1A6968;
  text-align: center;
  line-height: 24px;
  margin-bottom: 20px !important;
  margin-top: 60px !important; }

.ourteam-row p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px; }

.ourteam-row h3 {
  color: #1A6968;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  text-align: center; }

.ourteam-row h4 {
  color: #FFFFFF;
  text-align: center;
  line-height: 7px; }

.ourteam-row h5 {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 38px;
  font-weight: 800;
  line-height: 0;
  text-align: center;
  text-transform: uppercase; }

.ourteam-row h6 {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 25px;
  font-weight: 300;
  line-height: 0;
  text-align: center; }

.ourteam-row .modal-title p {
  color: #707070 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-bottom: 12px !important; }

.ourteam-row .ult_modal-content {
  width: 200px !important; }

.ourteam-row .popup-top-right {
  left: 94% !important;
  bottom: 81% !important; }

/* Modal Styles */
.modal-row {
  padding: 0 60px 0 40px; }
  .modal-row h5 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    text-align: center; }

/* Our Story Style */
.ourstory-row h2 {
  font-size: 30px;
  color: #1A6968;
  text-align: center;
  line-height: 24px;
  margin-bottom: 20px !important;
  margin-top: 60px !important; }

.ourstory-row p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px; }

.ourstory-row h3 {
  color: #701E5D;
  font-size: 30px;
  line-height: 35px;
  text-align: center; }

.ourstory-row h4 {
  color: #FFFFFF;
  text-align: center;
  line-height: 7px; }

.ourstory-row h5 {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 38px;
  font-weight: 800;
  line-height: 0;
  text-align: center;
  text-transform: uppercase; }

.ourstory-row h6 {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 25px;
  font-weight: 300;
  line-height: 0;
  text-align: center; }

/* News Style */
.news-row {
  /***** Blog Grid *****/ }
  .news-row h2 {
    font-size: 30px;
    color: #1A6968;
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px !important;
    margin-top: 60px !important; }
  .news-row h3 {
    color: #1A6968;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center; }
  .news-row p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: center; }
  .news-row .vcex-blog-entry-details {
    text-align: center;
    border: none; }
    .news-row .vcex-blog-entry-details p {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; }
    .news-row .vcex-blog-entry-details .theme-txt-link {
      color: #701E5D !important;
      font-family: 'Covered By Your Grace';
      font-size: 30px !important;
      text-align: center;
      background-color: #ffffff !important; }
  .news-row .vcex-blog-entry-date {
    font-family: Raleway; }

/* Contact Style */
.contact-row h2 {
  font-size: 30px;
  color: #1A6968;
  text-align: center;
  line-height: 24px;
  margin-bottom: 20px !important;
  margin-top: 60px !important; }

.contact-row h3 {
  color: #1A6968;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-align: center; }

.contact-row p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: center; }

/* Investors Style */
.investors-row h2 {
  font-size: 30px;
  color: #1A6968;
  text-align: center;
  line-height: 24px;
  margin-bottom: 20px !important;
  margin-top: 60px !important; }

.investors-row h3 {
  color: #1A6968;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 20px;
  margin: 30px;
  font-weight: bold;
  line-height: 24px;
  text-align: center; }

.investors-row p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: center; }

.investors-row .passster-form {
  background-color: #1A6968;
  width: 60%;
  padding: 42px 0 !important;
  margin: 0 auto; }
  .investors-row .passster-form h4 {
    display: none; }
  .investors-row .passster-form p {
    display: none; }
  .investors-row .passster-form button[type="submit"] {
    background-color: #701E5D !important;
    font-family: 'Covered By Your Grace';
    font-size: 20px !important;
    border-radius: 5px; }
  .investors-row .passster-form #passster_password {
    font-size: 20px;
    font-family: Raleway;
    border-radius: 5px;
    margin-bottom: 10px; }

.investors-row #password-form {
  width: 60%;
  margin: 0 auto; }

/***** Fonts and Colors *****/
p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px; }

h2 {
  font-family: Raleway;
  font-size: 53px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase; }

h3 {
  font-family: 'Covered By Your Grace';
  font-size: 46px;
  line-height: 50px;
  font-weight: normal; }

h4 {
  font-family: 'Covered By Your Grace';
  font-size: 50px;
  line-height: 60px;
  font-weight: normal; }

h5 {
  font-family: Raleway; }

h6 {
  font-family: Raleway; }

/***** Colored Circles *****/
.wpb_single_image_caption {
  position: relative !important;
  top: -185px !important;
  color: #FFFFFF;
  background: none !important;
  opacity: 1.0 !important; }

/***** Contact Form / Gravity Form *****/
.gfield_label {
  display: none !important; }

#gform_fields_1 {
  font-size: 15px;
  font-family: Raleway;
  color: #707070;
  font-size: 12px; }

/***** Site Header *****/
#site-header {
  background-color: rgba(255, 255, 255, 0.8) !important;
  height: 150px; }

/***** Main Menu Style *****/
#site-navigation {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  color: #1A6968; }

.medium {
  height: 40px !important; }

.gfield {
  margin-top: 0px !important; }

#input_1_1 {
  color: #707070 !important; }

.textarea {
  height: 135px !important; }

.gf_left_half {
  position: relative; }

#gform_fields_1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  max-height: 200px; }

/** Submit Button Styling **/
body .gform_wrapper .gform_footer input.button,
body .gform_wrapper .gform_footer input[type=submit] {
  color: #ffffff;
  font-size: 20px;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Covered By Your Grace';
  width: 47.5%;
  border: 1px solid rgba(114, 114, 114, 0.4);
  border-radius: 5px !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #701E5D; }

.gform_wrapper .gform_footer {
  padding: 16px 0 10px;
  margin: -56px 10px 0 !important;
  clear: both;
  width: 100%;
  top: 10px;
  float: right; }

.medium {
  border-radius: 5px !important; }

#footer-callout-wrap {
  display: none; }

.modal {
  width: 926px;
  font-family: Raleway;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300; }

.btn-modal-sm {
  color: #701E5D !important;
  font-family: 'Covered By Your Grace';
  font-size: 30px !important;
  text-align: center; }

.btn-modal-sm:hover {
  background-image: url("http://imagine-resorts.local/wp-content/uploads/2019/01/underline.png") !important;
  text-decoration: underline;
  font-family: 'Covered By Your Grace';
  font-size: 30px !important;
  text-align: center;
  color: #701E5D !important; }

.popup-top-right {
  left: 94% !important;
  bottom: 88% !important; }

/*# sourceMappingURL=style.css.map */
