/*!
 Theme Name: Total Child SCSS Starter
 Version: 4.6
 Description: Premium Multi-purpose WordPress Theme
 Author: WPExplorer
 Theme URI: https://themeforest.net/item/total-responsive-multipurpose-wordpress-theme/6339019
 Author URI: https://themeforest.net/user/wpexplorer
 License: Custom license
 License URI: http://themeforest.net/licenses/terms/regular
 Text Domain: total
 Template: base
 Tags: custom-colors, accessibility-ready, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready

 */

@import "0.variables-and-globals/index";

/***** Fonts and Colors *****/
p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

h2 {
 font-family: Raleway;
 font-size: 53px;
 font-weight:700;
 line-height: 47px;
 text-transform: uppercase;
}

h3 {
  font-family: 'Covered By Your Grace';
  font-size: 46px;
  line-height: 50px;
  font-weight: normal;
}

h4 {
  font-family: 'Covered By Your Grace';
  font-size: 50px;
  line-height: 60px;
  font-weight: normal;
}

h5 {
 font-family: Raleway;
}

h6 {
 font-family: Raleway;
}

/***** Colored Circles *****/

  .wpb_single_image_caption {
    position: relative !important;
    top: -185px !important;
    // z-index: 2;
    // bottom: 20px;
    // left: 0;
    color: $White;
    // padding: 35px 53px !important;
    // padding-left: 20px !important;
    background: none !important;
    opacity: 1.0 !important;
  }

/***** Contact Form / Gravity Form *****/
.gfield_label {
  display: none !important;
}

#gform_fields_1 {
  font-size: 15px;
  font-family: Raleway;
  color: #707070;
  font-size:12px;
 }

/***** Site Header *****/
#site-header {
  background-color:rgba(255,255,255, 0.8) !important;
  height: 150px;
}


/***** Main Menu Style *****/
#site-navigation {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  color: $AbbeyGreen;
}

.medium {
  height: 40px !important;
}

.gfield {
  margin-top: 0px !important;

}

#input_1_1 {
  color: #707070 !important;
}

.textarea  {
  height: 135px !important;
}

.gf_left_half {
  position: relative;
}

#gform_fields_1 {
   display: flex;
   flex-flow: column wrap;
   align-content: stretch;
   max-height: 200px;
}

/** Submit Button Styling **/
body .gform_wrapper .gform_footer input.button,
body .gform_wrapper .gform_footer input[type=submit] {
    color:#ffffff;
    font-size: 20px;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Covered By Your Grace';
    // padding-left:226px;
    // padding-right:226px;
    width: 47.5%;
    border: 1px solid rgba(114,114,114,0.4);
    border-radius: 5px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: $TawnyPortPurple;
}

.gform_wrapper .gform_footer {
  padding: 16px 0 10px;
      margin: -56px 10px 0 !important;
      clear: both;
      width: 100%;
      top: 10px;
      float: right;
}


// input#input_1_2 {
//   border-radius: 5px !important;
// }

.medium {
  border-radius: 5px !important;
}

#footer-callout-wrap {
  display: none;
}


.modal {
    width: 926px;
    font-family: Raleway;
    color: $White;
    font-size: 18px;
    font-weight: 300;
    // font-size: calc(18px + (20 - 9) * (100vw - 560px) / (1056 - 560));
  }

.btn-modal-sm {
  color: $TawnyPortPurple !important;
  font-family: 'Covered By Your Grace';
  font-size: 30px !important;
  text-align: center;
}

.btn-modal-sm:hover {
  background-image: url("http://imagine-resorts.local/wp-content/uploads/2019/01/underline.png") !important;
  text-decoration: underline;
  font-family: 'Covered By Your Grace';
  font-size: 30px !important;
  text-align: center;
  color: $TawnyPortPurple !important;
}

  .popup-top-right {
        left: 94% !important;
        bottom: 88% !important;
      }
