/* Contact Style */
.contact-row {
  h2 {
    font-size: 30px;
    color: $AbbeyGreen;
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px!important;
    margin-top: 60px !important;
  }

  h3 {
    color: $AbbeyGreen;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
  }
}
