/* Site Footer */
.footer-row {
  h3 {
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari 3-8 */
    transform: rotate(-5deg);
    color: $AbbeyGreen;
    margin-top:50px;
    line-height: 0;
  }

  p {
    font-size: 12px;
    color: $White;
  }

  h5 {
    color: $White;
    font-size:30px;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  .wpb_wrapper {
    padding-left: 20px !important;
  }

  .wpb_wrapper a {
    color: #ffffff;
  }
}
