/* Site Header & Menu */
.header-row {
  top: -170px;
  h2 {
      color: $AbbeyGreen;
      font-size: calc(35px + (53 - 35) * (100vw - 320px) / (1056 - 320));
      @media (min-width: 1056px) {
        font-size: 53px;

      }
 }

   h5 {
    font-family: Raleway;
    font-size: 30px;
    font-weight:200;
    line-height: 50px;
    color: $AbbeyGreen;
    margin:0;
  }

  h3 {
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari 3-8 */
    transform: rotate(-5deg);
    color: $TawnyPortPurple;
    font-size: calc(36px + (46 - 36) * (100vw - 320px) / (1056 - 320));
    margin-bottom:50px !important;
    margin-top: 5px;
    line-height: 0;
    margin-left: calc(212px + (310 - 212) * (100vw - 320px) / (1056 - 320));
    @media (min-width: 1056px) {
      font-size: 46px;
      margin-left: 310px;
    }
  }

  h4 {
    color: $White;
  }
}
