/* Home Page Styling */
.home-row {
  h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: $AbbeyGreen;
    margin:0;
    line-height: 44px;
  }

  h3 {
    font-size: 100px;
    color: $TawnyPortPurple;
    line-height: 150px;
  }

  /***** Two Column Padding, Line Height and Font size calc *****/
   .quote-text {
     padding-left: calc(24px + (100 - 24) * (100vw - 320px) / (1056 - 320));
     padding-right: calc(24px + (100 - 24) * (100vw - 320px) / (1056 - 320));
      h4 {
        font-size: calc(30px + (50 - 30) * (100vw - 320px) / (1056 - 320));
        line-height: calc(40px + (60 - 40) * (100vw - 320px) / (1056 - 320));
        color: $White;
          @media (min-width: 1056px) {
            font-size: 50px;
            line-height: 60px;
          }
      }
      p {
        color: #ffffff;
        padding-bottom: calc(50px + (0 - 50) * (100vw - 320px) / (1056 - 320));
      }
   }
}
