/* Investors Style */
.investors-row {
  h2 {
    font-size: 30px;
    color: $AbbeyGreen;
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px!important;
    margin-top: 60px !important;
  }

  h3 {
    color: $AbbeyGreen;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 20px;
    margin: 30px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
  }

  .passster-form {
    background-color: #1A6968;
    width: 60%;
    padding:42px 0 !important;
    margin: 0 auto;
    h4 {
      display: none;
    }

    p {
      display: none;
    }

    button[type="submit"] {
      background-color: #701E5D !important;
      font-family: 'Covered By Your Grace';
      font-size: 20px !important;
      border-radius: 5px;
    }

    #passster_password {
      font-size: 20px;
      font-family: Raleway;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }

  #password-form {
    width: 60%;
    margin: 0 auto;
    }
}
