/* News Style */

.news-row {
  h2 {
    font-size: 30px;
    color: $AbbeyGreen;
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px!important;
    margin-top: 60px !important;
  }

  h3 {
    color: $AbbeyGreen;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
  }

/***** Blog Grid *****/
  .vcex-blog-entry-details {
     text-align: center;
     border: none;
     p {
       font-size: 16px;
       font-weight: 400;
       line-height: 20px;
     }

     .theme-txt-link {
       color: $TawnyPortPurple !important;
       font-family: 'Covered By Your Grace';
       font-size: 30px !important;
       text-align: center;
       background-color: #ffffff !important;
     }
  }

  .vcex-blog-entry-date {
    font-family: Raleway;
  }
}
