/* Our Story Style */

.ourstory-row {
  h2 {
    font-size: 30px;
    color: $AbbeyGreen;
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px!important;
    margin-top: 60px !important;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
  }

  h3 {
    color: $TawnyPortPurple;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }

  h4 {
    color: $White;
    text-align: center;
    line-height: 7px;
  }

  h5 {
    color: $White;
    font-family: Raleway;
    font-size: 38px;
    font-weight: 800;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
  }

  h6 {
    color: $White;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 300;
    line-height: 0;
    text-align: center;
  }

}
