/* Our Team Style */

.ourteam-row {
    h2 {
      font-size: 30px;
      color: $AbbeyGreen;
      text-align: center;
      line-height: 24px;
      margin-bottom: 20px!important;
      margin-top: 60px !important;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
    }

  h3 {
    color: $AbbeyGreen;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
  }

  h4 {
    color: $White;
    text-align: center;
    line-height: 7px;
  }

  h5 {
    color: $White;
    font-family: Raleway;
    font-size: 38px;
    font-weight: 800;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
  }

  h6 {
    color: $White;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 300;
    line-height: 0;
    text-align: center;
  }

  .modal-title p {
    color: #707070 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-bottom: 12px !important;
  }


  .ult_modal-content {
    width: 200px !important;
  }

  .popup-top-right {
    left: 94% !important;
    bottom: 81% !important;
  }

}
