/**
 * Set up variables here
 */

// $color__main: #FF0000;
 $CongressBlue: #004489;
 $FireBushOrange: #E5A130;
 $Elmreen: #1A6968;
 $TawnyPortPurple: #701E5D;
 $AbbeyGreen: #1A6968;
 $White: #FFFFFF;

/* Font Families */
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway:200,300,400,500,700,800');

/* Row Padding top/bottom only */


/* Screen Sizes */
$max-screen-size: 1000;
$min-screen-size: 320;
$mobile-break-size: 767;

/* Rows with white separator line */
// %white-separator {
// 	&> .vc_column_container:not(:last-of-type) {
// 		border-right: 1px solid $white;
// 		@media (max-width: $mobile-break-size + px) {
// 			border-right: 0px;
// 			border-bottom: 1px solid $white;
// 		}
// 	}
// }
